.playlist-scroll::-webkit-scrollbar {
    width: 8px;
}

.playlist-scroll::-webkit-scrollbar-track {
    background: #fff0da;
    border-radius: 4px;
}

.playlist-scroll::-webkit-scrollbar-thumb {
    background: #d6a334;
    border-radius: 4px;
}

.playlist-scroll::-webkit-scrollbar-thumb:hover {
    background: #816838;
}
